[submodule "contacts-tylergarf"]
	path = contacts-tylergarf
	url = https://github.com/CSC335/contacts-tylergarf.git
[submodule "actual_code_backups_ISwear"]
	path = actual_code_backups_ISwear
	url = https://github.com/tylergarf/actual_code_backups_ISwear.git
[submodule "priortitytodos-tylergarf"]
	path = priortitytodos-tylergarf
	url = https://github.com/CSC335/priortitytodos-tylergarf.git
[submodule "drawing-tylergarf"]
	path = drawing-tylergarf
	url = https://github.com/CSC335/drawing-tylergarf.git
[submodule "jukebox-tylercarlo"]
	path = jukebox-tylercarlo
	url = https://github.com/CSC335/jukebox-tylercarlo.git
[submodule "battleship-alexcarlomatthewtyler"]
	path = battleship-alexcarlomatthewtyler
	url = https://github.com/CSC335/battleship-alexcarlomatthewtyler.git
